html,body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
  padding-top: 50px;
  background-color: lightgray;
  /* 背景素材 http://sozai.akuseru-design.com/rules/ 様 */
  background-image: url('../img/background/bg.png');
  background-repeat: repeat;
  background-attachment:fixed;
}

/* Bootstrap上書き用 */
h1, h2, h3, h4 {
  margin: 0px 5px 10px;
}
h1 {
  margin: 10px;
  margin-top: 20px; 
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  margin-left: 15px;
  font-size: large;
}
hr {
  margin: 10px 0px 20px;
  border-top: 1px #CCCCCC solid;
}
.panel {
  background-color: whitesmoke;
}
@media screen and (min-width: 0px) and (max-device-width: 768px) {
  .panel {
    margin: 0px;
  }
}
.panel-body {
  font-size: small;
}
.table {
  margin-bottom: 0px;
}
p {
  margin: 0px 0px 5px;
}

/* border and shadow */
.mybox-border-shadow {
  box-shadow: 0px 0px 10px dimgray;
  border-width: thin;
  border-color: gray;
  border-style: solid;
}

/* contents */
.contents {
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 3px;
  margin-bottom: 20px;
}
.contents-text {
  padding: 6px 10px 20px;
}
@media screen and (min-width: 0px) and (max-device-width: 768px) {
  .contents {
    padding: 7px 7px 15px;
  }
  .contents-text {
    padding: 3px 5px 10px;
  }
}
.link-panel {
  margin: 15px 0px 20px;
  padding:0px 10px 0px;
}
@media screen and (min-width: 0px) and (max-device-width: 768px) {
  .link-panel {
   margin: 10px 0px 5px;
  }
}
.margin-bottom-panel {
  margin-bottom: 15px;
}

/* footer */
.footer {
  background-color: whitesmoke;
  margin-bottom: 30px;
  border-radius: 3px;
  padding: auto;
}
.footer-text {
  color: dimgray;
  text-align: center;
  font-size: small;
  padding: 5px 5px 5px 5px;
  margin: 0px;
}
.footer-a {
  color: dimgray;
}
.footer-a:hover {
  color: dimgray;
}

/* navbar */
.nav-shadow {
  box-shadow: 0px 0px 10px dimgray;
}
.list-widelink {
  display: block !important;
  height: 100% !important;
  width: 100% !important;
  padding: 7px 20px 10px 20px !important;
}
.multi-list {
  width: auto;
}
.multi-list-page {
  background-color: whitesmoke;
}
@media screen and (min-width: 768px) {
  .multi-list {
    width: 400px !important;
  }
}
.dropdown-menu>li>div>ul>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
  cursor: auto;
}
.dropdown-menu>li>div>ul>li>a:hover {
  background-color: whitesmoke;
}


/* WideLinkにするため上書き */
.dropdown-header {
  padding: 4px !important;
}
.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
}
.dropdown-menu .divider {
  margin: 0px;
}

/* パンくずリスト */
.breadnavi {
  margin-top: -5px;
  margin-bottom: 10px;
}
@media screen and (min-width: 0px) and (max-device-width: 768px) {
  .breadnavi {
    margin: 0px;
  }
}
.breadcrombs-text {
  float: left;
  text-align: left;
  margin-right: 20px;
}
.lastupdate-text {
  text-align:right;
  color: #959595;
  letter-spacing: 1px;
  font-size: small;
}

/* 改行させたくない時 */
.notbr {
  white-space: nowrap;
}

/* image border shadow radius */
.img-bsr {
  -webkit-box-shadow: 0 10px 8px -6px #8d8c8c;
  -moz-box-shadow: 0 10px 8px -6px #8d8c8c;
  box-shadow: 0 10px 8px -6px #8d8c8c;
  border: solid 1px #ccc;
  padding: 4px;
  border-radius: 2px;
  margin: 5px auto 20px !important;
}


/* thumnail用 */
div.caption h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}
div.caption p {
  margin: 0px 5px 0px;
}
.thum-date, .thum-post {
  margin: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  letter-spacing: 1px;
}
.thum-date {
  text-align: left;
}
.thum-post{
  text-align: right;
  margin-bottom: -25px;
}
.thum-shadow{
  /*影を入れる*/
  -webkit-box-shadow: 0 10px 8px -6px #8d8c8c;
  -moz-box-shadow: 0 10px 8px -6px #8d8c8c;
  box-shadow: 0 10px 8px -6px #8d8c8c;
}


